@*<style>
    body {
        background-color: black !important;
    }
</style>*@
<style>
    body {
        /*background-image: linear-gradient(#000000, #000000);*/
        background-image: linear-gradient(to bottom, #000000 0%, #11392d 100%);
    }
</style>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Quiz Web app in development</p>
    <img src="https://media.giphy.com/media/J4gENZz2SLhLnRDgTf/giphy.gif" alt="Embedded GIF" />
</div>
